@import 'styles/variables';

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: $source-sans;
  color: $off-black;
  background: none;
  button:focus {
    outline: $secondary;
  }
  input:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
}

body {
  background: $off-white;
}
