@import 'styles/variables';

#login-container {
  @include phone {
    width: 100%;
  }
  float: right;
  background: $off-black;
  padding: 15px 10px 5px 10px;
  width: 350px;
  max-width: 100%;
  font-size: 10px;
  border-radius: 5px;
  margin-top: -5px;
}

.login-form {
  @include phone {
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.login-form-label {
  @include phone {
    font-size: 20px;
  }
  margin: 0;
  font-size: 16px;
  color: $off-white;
}

.login-form-input {
  @include phone {
    height: 26px;
  }
  background: $off-white;
  color: $off-black;
  font-size: 16px;
  letter-spacing: .5px;
  width: 100%;
  border-radius: 3px;
  padding: 2px 2px 2px 10px;
}

.login-message {
  @include phone {
    margin: 0 25px 0 2px;
  }
  font-size: 16px;
  padding: 0 0 5px 0;
  background: $off-black;
  margin: 0 15px 0 2px;
  color: $off-white;
}

.error-message {
  font-size: 16px;
  padding: 0 0 3px 5px;
  color: $primary-light;
  display: block;
  float: left;
  background: $off-black;
}
